.content {
    text-align: center;
}
.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #5b6ca3;
    z-index: 9999;
}

.mainTitle{
    color: #DC143C;
}

.buttonColorize{
    background-color: #DC143C;
}
